<!DOCTYPE html>

<html>
	<head>
		<title>
			{% block title %}
				Home | SoftBlog
			{% endblock %}
		</title>
		 <meta name="viewport" content="width=device-width">
	    <meta name="description" content="Blog project for SoftDev using Python Flask and SQLite">
	    <meta property="og:title" content="SoftBlog | Home">
	    <meta property="og:type" content="website">
	    <meta property="og:description" content="Blog project for SoftDev using Python Flask and SQLite">

		<!--Resources-->
		<link rel="stylesheet" href="../static/font-awesome-4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/main.css">
		<link rel="stylesheet" href="../static/button-style.css">
		<link rel="icon" type="image/ico" href="../static/favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="../static/jquery-1.11.1.min.js"></script>

	</head>

	<body>

		<div class="header">
			<h1 class="heading">
				SoftBlog : Home
			</h1>
			<div class="links">
				<a style="color: white" class="greylink" href="#">
					ABOUT
				</a>
			</div>
		</div>


		<div id="create-new" class="card">
			<div class="create-new-heading">
				<b>Create a new post.</b>
			</div>
			<form class="form-create"action="http://localhost:5000/new-post" method="POST">
				<input type="text" placeholder="Name" name="username">
				<br><br>
				<textarea rows="10" cols="30" placeholder="Write your post here!" name="post-content"></textarea>
				<br><br>
				<input type="submit" class="greybutton">
			</form>
		</div>

		<div id="main">
		{% block content %}
			Content goes here.

		{% endblock %}
		</div>

		<div id="footer">
		{% block footer %}
			footer.
		{% endblock %}
		</div>
	</body>
</html>
