{% extends "base.html" %}

{% block title %}
	{{ location }} | SoftBlog
{% endblock %}


{% block content %}

<div id="posts" class="push-right post">
	posts
	<br>
	<br>
	<br>
	{% for post in posts %}
	<div class="card post">
		<h2> {{post[0]}} </h2>
		<p> 
		  {{post[1][0:75]}}...
		</p>
	</div>
	{% endfor %}
</div>
{% endblock %}


{% block footer %}
<div id="form-toggle">
	<span class="fa-stack fa-2x">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-times fa-stack-1x fa-inverse fa-spin"></i>
	</span>
</div>
<div id="create-new" class="card">
			<div class="create-new-heading">
				<b>Create a new post.</b>
			</div>
			<form class="form-create"action="http://localhost:5000/new-post" method="POST">
				<input type="text" placeholder="Name" name="username">
				<br><br>
				<textarea rows="10" cols="30" placeholder="Write your post here!" name="post-content"></textarea>
				<br><br>
				<input type="submit" class="greybutton">
			</form>
		</div>


</div>

		<script>
		var showing = false;
		$("#form-toggle").click(function(showing){
			if(document.getElementById("create-new").style.bottom=="0%"){
				console.log("here");
				$("#create-new").animate({
					"bottom": "-60%"
				})
				$("#form-toggle").animate({
					bottom: "5%",
					right: "5%"
				})
			} else {
				console.log("there")
				$("#create-new").animate({
					bottom: "0%"
				})
				$("#form-toggle").animate({
					right: "0%",
					bottom: "52%"
				})
			}
			showing = !showing;
		});
		</script>
{% endblock %}
