<!DOCTYPE html>

<html>
	<head>
		<title>SoftBlog | Home</title>
		 <meta name="viewport" content="width=device-width">
	    <meta name="description" content="Blog project for SoftDev using Python Flask and SQLite">
	    <meta property="og:title" content="SoftBlog | Home">
	    <meta property="og:type" content="website">
	    <meta property="og:description" content="Blog project for SoftDev using Python Flask and SQLite">

		<!--Resources-->
		<!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">-->
		<link rel="stylesheet" href="../static/main.css"
		<link rel="icon" type="image/ico" href="../static/favicon.ico">

		<script type="text/javascript" src="../static/jquery-1.11.1.min.js"></script>

	</head>

	<body>
		SoftBlog : Home


	</body>
</html>
