{% extends "base.html" %}


{% block content %}
<div id="post-page" class="push-right post">
	<div class="post">
		<h1>
			<!-- Post title -->
			{{ post[0] }}
		</h1>
		<br>
		<p>{{ post[1] }}</p>
		<br><br><br>
	</div>

	<div id="comments">
		<div class="comment card post">
			<form action="http://localhost:5000/{{ postID }}/new-comment" method="POST">
				<input type="text" name="username" placeholder="Username">
				<input name="comment" placeholder="Add a comment!"></input>
				<input type="submit" value="Submit">
			</form>
		</div>
		{% for comment in comments %}
			<div class="comment card post">
				<h3>User:{{ comment[1] }}</h3>
				<p>{{ comment[0] }}
			</div>
		{% endfor %}
	</div>
</div>


{% endblock %}



{% block footer %}


{% endblock %}
